@import 'bootstrap/scss/bootstrap';

.user {
  &.card {
    cursor: pointer;
    margin-top: 1rem;
    &:not(:hover) {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    &:hover {
      box-shadow: 0 4px 8px 4px rgba(88, 135, 185, 0.25);
    }  

    .thumbnail {
      border-radius: 50%;
    }
    .card-subtitle {
      font-size: .9rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;  
    }
  }
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}